CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
~$*.docx
.vs/
*.obj
out
build
*.vcx*
*.sln

thirdparty/pdcurses/Debug
thirdparty/pdcurses/*.dir
thirdparty/pdcurses/Release
thirdparty/pdcurses/x64
*.exp
*.res
*.lib
*.dll